/*--------//LAYOUT//--------*/
:root {
    --maxWidth: 1050px;
    --goldyellow: #DEB00B;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background: #E5E5E5;
}

h2, h3, h4, h5, a {
    font-family: 'Ubuntu', sans-serif;
}
h3, h4, h5, a {
    font-size: 12px;
}
h1, h2, a{
    color: var(--goldyellow);
}
h2, h3, a{
    font-weight: 400;
    text-decoration: none;
}
h1, h2, h3, h5 {
    text-align: center;   
}

h1 {
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h4 {
    line-height: 24px;
}
a {
    border:1px solid var(--goldyellow);
    padding: 0.2rem .5rem;
    border-radius: 10px;
}
.main__furniture article, .main__furniture__page-designer--names {
    box-shadow: .3rem .3rem .2rem rgba(0,0,0,.1);
    border-bottom-left-radius: 1rem;
}

/*--------//WRAPPER//--------*/

.wrapper {
    margin:0 auto;
    max-width: var(--maxWidth);
    width: 100%;
    height:auto;
    background-color: var(--goldyellow);
}

.wrapper_drop {
    background: rgba(222, 176, 11, 0.8);
    width: 100vw;
    max-width: 1050px;
    height: 27rem;
    border-bottom-left-radius: 1rem;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    transform: translateY(-100%);
    transition: all .3s ease;
}
.wrapper.open section {
    transform: translateY(0%);
}
.wrapper_drop a {
    padding: 4rem 0 0 2rem;
    font-size: 20px;
    color:white;
    border: none;
}
.wrapper.open > .header > .header__nav > a {
    border:1px solid white;
}


/*--------//HEADER//--------*/

.header {
    background: url("../img/hero.jpeg")no-repeat top;
    background-size: cover;
    height: 35rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*---HEADER-nav---*/

.header__nav {
    background: rgba(222, 176, 11, 0.8);
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:3rem;
    position: fixed;
    width: 100vw;
    max-width: var(--maxWidth);
    z-index: 5; 
}
.header__nav__hamburger, .header__nav__shop-cart{
    padding:0 1rem;
    font-size: 24px;
    color: white;
}
.header__nav__logo {
    align-self: end;
}

/*---HEADER-hero---*/

.header__hero__text {
    display: grid;
    height:92.7%;
    margin: 0;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows:auto 19rem 4rem;
    grid-template-areas:
    "logo"
    "special"
    "best";
}

.header__hero__text--logo {
    justify-self: end;
    align-self: end;
    width: 10rem;
    padding-right: 5.15rem;
    opacity:0;
}

.header__hero__text--special {
    grid-area: special;
    justify-self: end;
    align-self: end;
    padding-right: 6rem;
    opacity: 0;
}
.header__hero__text--goldyellow {
    grid-area: best;
    align-self: end;
    margin-block-end:0;
}

.header__hero__text--btn {
    align-self: center;
    margin:0 auto 1.2rem;
}
.header__hero__text--btn a {
    color:white;
}


/*--------//MAIN//--------*/
.main {
    grid-area: main;
    display: grid;
    grid-template-rows:1, 1fr;
}

/*---MAIN-furniture---*/

.main__furniture{
    margin:1.4rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.4rem;
}

.main__furniture article figure {
    display:flex;
    margin:0;
    width:100%;
    position:relative;
    border: 1px solid white;
    border-bottom-left-radius: 1rem;
    transition: all .3s ease;
    overflow: hidden;
}
.main__furniture article figure:hover {
    transform: scale(1.1);
}

.main__furniture article figure img {
    margin:0;
    width: 100%;
    border-bottom-left-radius: 1rem;
}
.main__furniture article figure figcaption {
    position: absolute;
    top:0;
    width: 100%;
    background: rgba(255, 255, 255, 1);
}

.main__furniture--brd-white__text, .main__furniture--brd-white__lorem {
    margin:0; 
    padding: 0.2rem;
    transition: all .3s ease;
}
.main__furniture--brd-white__lorem {
    padding-bottom: 0.5rem;
}
.main__furniture--brd-white__text:hover, .main__furniture--brd-white__lorem:hover {
    transform: scale(1.2);
}

/*---MAIN-hero---*/

.main__hero-qoute {
    background: url(../img/quote\ picture.jpg) no-repeat center;
    background-size: cover;
    border-bottom-left-radius: 1rem;
    height: 16.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main__hero-quote__text {
    margin: 1.3rem 1.9rem 4rem 1.4rem;
}
.main__hero-quote__links {
    display: flex;
    flex-direction: column;
}
.main__hero__quote__links--btn {
    align-self: start;
    margin:auto auto 1.4rem 1.4rem;
}
.main__hero-qoute a , .main__hero-bath a/*-bath-is-from-page2*/{
    color:white;
    border:1px solid white;
}

/*---MAIN-about---*/

.main__about__txt-block {
    display: grid;
    grid-template-columns:repeat(1 1fr);
    margin:0;
}
.main__about__txt-block h1{
    color: white;
    margin:1.4rem auto 0;
}
.main__about__txt-block h4 {
    text-align: center;
    margin:0 1.4rem 1.4rem;
}


/*--SECOND PAGE--SECOND-PAGE--SECOND-PAGE--SECOND-PAGE--*/
/*---MAIN-furniture-SECOND-PAGE-designers----*/
.main__furniture__page-designer {
    margin:1.4rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: auto;
    gap: 1.4rem;
    overflow: hidden;
}
.main__furniture__page-designer article figure {
    display:flex;
    margin:0;
    width:100%;
    position:relative;
    border-bottom-left-radius: 1rem;
}
.main__furniture__page-designer article figure img {
    margin:0;
    width: 100%;
    border: 1px solid white;
    border-bottom-left-radius: 1rem;
    opacity: 0.5;
    transition: all .4s ease-in-out;
}
.main__furniture__page-designer article figure figcaption {
    position: absolute;
    top:50%;
    width: 100%;
    margin:0;
    background: rgba(255, 255, 255, 0.7);
}
.main__furniture__page-designer article figure figcaption h2 {
    margin-block-end: 0.2em;
    font-size: 24px;
    color:black;

}
.main__furniture__page-designer article figure img:hover {
    opacity: 1;
}

.main__furniture__page-designer__titel {
    margin-block-start: 0;
}

/*---MAIN-hero-SECOND-PAGE-designers----*/

.main__hero-bath {
    border-bottom-left-radius: 1rem;
    height: 16.8rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    animation-name: showcase;
    animation: showcase 15s ease infinite both;
    position:relative;
}

@keyframes showcase {
    0% {
        background: url(../img/bathtub.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    25% {
        background: url(../img/livingroom.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    50% {
        background: url(../img/kitchen.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    75% {
        background: url(../img/bedroom.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    100% {
        background: url(../img/bathtub.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.main__hero-bath h4 {
    color: white;
    font-size: 20px;
    text-shadow: 0.5px 0.5px black;
}
.main__hero__bath__link {
    margin-top: 2rem;  
}
/*--SECOND PAGE--SECOND-PAGE--SECOND-PAGE--*/
/*--SECOND PAGE--END--END--END--END--END--SECOND-PAGE--*/


/*--------//FOOTER//--------*/
.footer {
    background: black;
    height: 17.7rem;
    position:relative;
    display: grid;
    grid-template-columns:1fr;
    justify-content: center;
}

.footer__block-one {
    padding: 1.4rem;
    display: flex;
    justify-content: center;
}
.footer__block-one a {
    font-size: 60px;
    border: none;
}

.footer__block-two {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
}
.footer__block-two__instagram, .footer__block-two__facebook, .footer__block-two__twitter {
    color: var(--goldyellow);
    font-size: 60px;
    transition:all .3s ease; 
}
.footer__block-two__instagram:hover, .footer__block-two__facebook:hover, .footer__block-two__twitter:hover{
    color: white;
    transform: scale(1.1);
}

/*--------//Media-Queries//--------*/

@media screen and (max-width: 350px) {
    .main__furniture--brd-white__text:hover, .main__furniture--brd-white__lorem:hover {
        transform: scale(1.1);
    }
    .main__hero__quote__links--img {
        display:none;
    }
    h4 {
        line-height: 20px;
    }
}

@media screen and (min-width: 700px) {
    /*----Wrapper-changes----*/
    .wrapper_drop {
        height: 36rem;   
    }
    .wrapper_drop a {
        padding:5rem 4rem 0;
    }

    /*----Header-changes----*/
    .header{
        height: 46rem;
    }

    .header__nav {
        height: 6rem;
    }
    .header__nav img {
        width: 8rem;
        height: auto;
    }
    .header__nav__hamburger, .header__nav__shop-cart{
        padding:0 2rem;
        font-size: 36px;
    }
    .header__nav__logo {
        padding-top: 1.3rem;
        align-self: center;
    }

    /*----Main-changes----*/
    
    .main__furniture{
        margin:2rem;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
    }
    .main__furniture--brd-white__text:hover, .main__furniture--brd-white__lorem:hover {
        transform: scale(1.3);
    }

    .main__hero-qoute {
        height: 25rem;
    }
    .main__hero-quote__text {
        margin: 1.3rem 2rem 2rem 1.4rem;
        padding:0.3rem;
    }
    .main__hero-quote__links {
        display: flex;
        flex-direction: row;
        padding: 2rem;
    }
    .main__hero__quote__links--btn {
        align-self: end;
        margin:auto auto 0rem 2rem;
    }

    /*---page2 changes---*/
    .main__furniture__page-designer {
        margin:2rem;
        gap:2rem;
    }

    .main__hero-bath {
        height: 25rem;
    }

}

@media screen and (min-width: 900px) {
    a {
        font-size: 14px;
    }

    .header__hero__text--logo {
        opacity: 0.3;
    }
    .header__hero__text--special {
        opacity: 1;
    }

    .main__furniture {
        grid-template-columns: repeat(4, 1fr);
    }

    .main__hero-qoute {
        height: 31rem;
    }
    .main__hero-qoute h4 {
        font-size: 30px;
        line-height: 51px;
        letter-spacing: 2%;
    }
    .main__hero__quote__links {
        margin-bottom: 40rem;
    }
    .main__hero__quote__links--btn {
        margin-left: 4rem;
        margin-bottom: 11rem;
    }
    .main__hero-quote__text {
        margin: 1.3rem 10rem 7rem 2rem;  
    }
    .main__about__txt-block h4 {
        font-size: 20px;
        line-height: 38px;
    }
    .footer__block-two__instagram, .footer__block-two__facebook, .footer__block-two__twitter {
        color: var(--goldyellow);
        font-size: 104px;
    }
    /*---page2changes---*/
    .main__hero-bath {
        height: 31rem;
    }
    .main__hero-bath h4{
        font-size: 30px;

    }

}
